accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyio
async-timeout
attrs
certifi
charset-normalizer
click
contourpy
cycler
datasets
dill
distro
docker-pycreds
exceptiongroup
filelock
fonttools
frozenlist
fsspec
gensim
gitdb
GitPython
h11
httpcore
httpx
huggingface-hub
idna
Jinja2
jiter
joblib
kiwisolver
littleutils
MarkupSafe
matplotlib
mpmath
multidict
multiprocess
networkx
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
ogb
openai
outdated
packaging
pandas
pcst_fast
peft
pillow
platformdirs
propcache
protobuf
psutil
pyarrow
pybind11
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentencepiece
sentry-sdk
setproctitle
six
smart-open
smmap
sniffio
sympy
threadpoolctl
tokenizers
tqdm
transformers
triton
typing_extensions
tzdata
urllib3
wandb
wrapt
xxhash
yarl
# torch
# torch-geometric
# torch_scatter
# torchaudio
# torchvision